<%- include('../partials/headertwo') %>

<h1><%= profile.dogName %> - <%= profile.breed %></h1>
<h2><%= profile.location %></h2>
<p><em><%= profile.dogAge %> Years Old</em></p>
<%- include('../partials/footer') %>