<%- include('../partials/header') %>
<h1 class = 'myevents'>Upcoming Events</h1>
<form action ='/events' method='POST'></form>
<table class = 'eventtable' width ='600px'>
  <thead>
    <tr>
      <th name ='Event Name' width = '200px'>Event Name</th>
      <th name ='Event Location' width = '200px'>Event Location</th>
      <th name ='Date'width = '500px'>Date</th>
    </tr>
  </thead>
  <tbody>

    <% allEvents.forEach(function(e){%>
            <tr>
              <td><%= e.eventName %></td>
              <td><%= e.eventLocation %></td>
              <td><%= e.dateOfEvent %></td>
          <% }) %>
      </tr>
  
  </tbody>
</table>
</form>
<%- include('../partials/footer') %>