<%- include('../partials/header') %>

<h1 class = 'dogprofile'><%= profiles.dogName %> - <%= profiles.breed %></h1>
<h2 class = 'doglocation'><%= profiles.location %></h2>
<p class = 'dogage'><em><%= profiles.dogAge %> Years Old</em></p>
<p class = 'dogdescriptionprofile'><%= profiles.dogDescription %></p>

<% if (dog) { %>
    <div></div>
<% } else { %>
<a href = '/friends'><button class = 'addfriend'>ADD FRIEND</button></a>
<% } %>

<%- include('../partials/footer') %>