<%- include('../partials/header') %>

<h1><%= profiles.dogName %> - <%= profile.breed %></h1>
<h2><%= profiles.location %></h2>
<p><em><%= profiles.dogAge %> Years Old</em></p>

<button class = 'button'>ADD FRIEND</button>
<%- include('../partials/footer') %>