<%- include('../partials/header') %>

<h1 class = 'eventname'><%= events.eventName %></h1>
<p class = 'eventdate'><em><%= events.dateOfEvent %></em></p>
    <div id = 'profilepic'></div>
<p class = 'location'><em>Location: <%= events.eventLocation %></em></p>
<p class = 'description'><%= events.addDescription %></p>


<button class = 'updateeventbutton'><a href = '/events/<%= events._id %>/updateevent'>UPDATE EVENT</a></button>
  

<% if (dog) { %>
<form class = 'deleteform' action="/events/<%= events._id %>?_method=DELETE" class="delete-form" method="POST">
    <button class = 'deletebutton' type="submit">DELETE EVENT</button>
</form>
<% } else { %>
    <div></div>
<% } %> 


<form class = 'joinform' action ='/events/<%= events._id %>' method="POST">
    <input type="checkbox" name="joinEvent">
        <button class = 'joinbutton' type="submit">JOIN</button>
</form>

<form class = 'going' action ='/events/<%= events._id %>' method="POST">
    <div>
        <h1>GOING</h1>
        <div><%= dog.name ? dog.name: 'no' %></div>
    </div>
</form>



<%- include('../partials/footer') %>